.__404_wrapper{
  .error_wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #fff;
    .background_ani {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-position: center;
      background-size: 50%;
      background-repeat: no-repeat;
      .header-title {
        width: 100%;
        font-size: 50px;
        color: #393939;
        line-height: 30px;
        font-weight: 800;
        display: inline-block;
        margin-top: 60px;
        span {
          color: $base;
        }
      }
      .slogan {
        width: 100%;
        line-height: 60px;
        color: #989898;
        display: inline-block;
      }
      .action_wrapper {
        position: absolute;
        left: 0;
        bottom: 100px;
        width: 100%;
        height: auto;
        display: table;
        .action_trigger {
          margin-top: 50vh;
          background-color: $base;
          color: #fff;
          padding: 6px 30px;
          font-size: 13px;
          cursor: pointer;
          border-radius: 3px;
        }
      }
    }
  }
}