body{
  margin: 0;
  padding: 0;
  background-color: #101010;
  color: #999;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

//*{
//  font-family: 'Josefin Sans', sans-serif;
//}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 300;
}

p {
  color: #9a9696;
  font-weight: 400;
  line-height: 22px;
}

a{
  text-decoration: none !important;
  color: #fff !important;
}

.progress {
  height: 3px;
  background: #dcdcdc;
  .progress-bar {
    background: #333;
    opacity: 0.8;
  }
}


.margin-10{
  width: auto;
  height: 10px;
  display: table;
}
.margin-30{
  width: auto;
  height: 30px;
  display: table;
}

.separator-line{
  width: 100%;
  height: 2px;
  background-color: #dfdfdf;
  opacity: 0.7;
  float: left;
  margin: 30px 0;
}
.btn-icon{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ls-full-width{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  max-width: 1200px;
  &.standard{
    max-width: 1100px;
  }
  &.sm{
    max-width: 950px;
  }
  .ls-fill{
    width: 100%;
    height: auto;
    display: table;
    .ls-fill-left{}
    .ls-fill-center{}
    .ls-fill-right{}
    .ls-bg-left{
      width: 900px;
      height: auto;
      display: block;
      max-width: 900px;
      float: left;
      box-sizing: border-box;
      padding-right: 10px;
    }
    .ls-sm-right{
      width: 300px;
      height: auto;
      display: block;
      overflow: auto;
      max-width: 300px;
      float: right;
      box-sizing: border-box;
      //padding-left: 10px;
    }
    .ls-bg-right{}
    .ls-sm-right{}
  }
}
.alert-error-msg{
  float: left !important;
  font-size: 11px;
  color: $red;
  margin-top: 2px;
  margin-left: 0 !important;
  .link-a{
    margin-left: 0 !important;
    cursor: pointer;
    color: $base !important;
  }
}

.theme-notification-wrapper{
  &.full-form{
    width: 100%;
    text-align: center;
    display: inline-block;
    .success-message{
      font-weight: 600;
      font-size: 25px;
      padding: 20px 0;
    }
    .success-icon{
      width: 100%;
      text-align: center;
      img{
        width: 100px;
      }
    }
    .button-success {
      border: none;
      display: inline-block;;
      border-radius: 5px;
      color: #fff !important;
      line-height: 35px;
      cursor: pointer;
      background-color: $base;
      font-weight: 500;
      font-size: 13px;
      padding: 0 25px;
      margin: 40px 0 10px 0;
    }
  }
}

.theme_avatar_uploader_wrapper{
  width: auto;
  height: auto;
  display: inline-block;
  .theme_avatar_uploader{
    width: 200px;
    height: auto;
    display: inline-block;
    .preview-wrapper{
      height: 200px;
      width: 200px;
      display: block;
      .avatar{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #dfdfdf;
      }
    }
    .trigger_wrapper{
      position: relative;
      .file_trigger{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
}
